<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.study.board.mapper.BoardMapper">
<!--8 -->
	
	<!-- 목록 조회 -->
	<select id="getList" resultType="com.study.board.vo.BoardVO">
<!--9 resultType   : select 된 데이터를 반환할 (그릇)을 정해주는것 위의 코드같은경우엔 BoardVO 객체에 담긴다-->
 
<!--  -->
		/* com.study.board.mapper.BoardMapper.getList */
			SELECT
				  BOARD_ID AS BOARDID
				, TITLE
				, TEXT
				, BOARD_DATE AS BOARDDATE
				, HIT
				, MEMBER_ID AS MEMBERID
			FROM BOARD  
			ORDER BY BOARD_DATE DESC
	</select> 
	
	<!-- 글 조회 -->
	<select id="getContent" parameterType="int" resultType="com.study.board.vo.BoardVO"> 
<!-- paramterType : 전달받은 파라이터 데이터 타입 지정  -->
<!-- resultType   : select 된 데이터를 반환할 (그릇)을 정해주는것 위의 코드같은경우엔 BoardVO 객체에 담긴다-->

		/* com.study.board.mapper.BoardMapper.getContent */
		
<!-- <![CDATA[ ]]> : 쿼리문 안에 부등호 있을 때 사용 -->		
			SELECT
				  BOARD_ID AS BOARDID
				, TITLE
				, TEXT
				, BOARD_DATE AS BOARDDATE
				, HIT
				, MEMBER_ID AS MEMBERID
			FROM BOARD 
			WHERE BOARD_ID = #{boardId} 
		 
	</select> 

<!-- 88 -->	
	<!-- 글 쓰기 -->
	<insert id="contentWrite" parameterType="com.study.board.vo.BoardVO"> 
		/* com.study.board.mapper.BoardMapper.contentWrite */
			INSERT INTO BOARD
				(
				  BOARD_ID
				, TITLE
				, TEXT
				, BOARD_DATE
				, MEMBER_ID
				)
			VALUES
				(
				  (SELECT NVL(MAX(BOARD_ID)+1, 0) FROM BOARD)
				, #{title}
				, #{text}
				, SYSDATE
				, #{memberId}
				)
	</insert>
	
	
<!-- 1313 -->	
	<!-- 최신 글번호 -->
	<select id="boardId" resultType="int"> 
		/* com.study.board.mapper.BoardMapper.boardId */
		SELECT 
			MAX(BOARD_ID) 
		FROM BOARD
	</select> 
	
	

</mapper>	